/* fonts */

@font-face {
  font-family: Argesta;
  src: url(argestadisplay-regular-webfont.ttf);
}

@font-face {
  font-family: North;
  src: url(North\ Carossela.otf);
}

@font-face {
  font-family: Sek;
  src: url(Sekogure.ttf);
}

@font-face {
  font-family: Made;
  src: url(MADEOkineSansPERSONALUSE-Medium.otf);
}

@font-face {
  font-family: Stretch;
  src: url(StretchPro.otf);
}

@font-face {
  font-family: Cool;
  src: url(coolvetica\ rg.otf);
}

@font-face {
  font-family: Avi;
  src: url(Avigea.ttf);
}

/* general */

body {
  background-color: fafcfe !important;
  color: #312c2d !important
}

div {
  font-family: Argesta;
}

.spacer {
  padding: 1em;
}

.pageTitle {
  font-family: Cool;
  font-size: 5em;
  padding-left: 70%;
  margin-bottom: 10px;
}

.pageContainer {
  padding: 40px;
}

/* LandingLayout */

.firstName {
  font-family: Avi;
  font-size: 10em;
  color: #1c71ea !important;
}

.lastName {
  font-family: Avi;
  font-size: 10em;
  padding-left: 18%;
  color: #1c71ea !important;
}

.title {
  font-family: Cool;
  font-size: 2em;
  position: absolute;
  top: 700px;
  left: 800px;
  /* transform: rotate(-90deg); */
  color: #312c2d
  
}

.divider {
  border: 20px solid #312c2d;
  padding: 10px;
  padding-top: 39px;
}

.icons {
  position: fixed;
  top: 5.5em;
  left: 101em;
  padding-top: 10px;
}

.icon {
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  padding-right: 10px;

}

.iconSpacer {
  padding: 12px;
}

/* Blogs */

.blogText {
  color: black;
  height: 10em;
}

.blogTitle {
  font-family: Made;
  color: black;
  font-weight: 900;
}

/* NavBar */

.navTitles {
  color: antiquewhite;
}

.navMenu {
  font-family: Made;
  font-weight: lighter;
  font-size: 1.5em;
  padding-right: 4em;
  padding-top: 10px;
}

/* About */

.me {
  height: 30%;
  width: 50%;
  border-radius: 10% 30% 50% 70%;
}

.scrollAbout {
  font-family: Stretch;
  font-size: x-large;
}

.bio {
  display: flex;
  font-size: large;
  color: black;
}

.arrow {
  height: 50px;
  width: 50px;
}

.bioDiv {
  display: flex;
  background-color: #1c71ea;
  /* border: 20px solid #312c2d; */
  border-radius: 45px/15px;
  width: 80%;
  height: 50%;
  padding-right: 500px;
}

/* Portfolio */

.portfolioIcon {
  height: 50px;
  width: 50px;
}

.portfolioIconSpacer {
  padding: 20px;
  font-weight: bold
}

.iconDiv {
  padding: 20px;
  margin-top: 50px !important;
}

.resumeText {
  font-family: Made;
  color:antiquewhite; 
  font-size: 1em;
}

.downloadButton {
  margin-top: 25% !important;
  display: block;
  width: 126px;
  height: 180px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40% !important;
}

.iconCol {
  text-align: center;
}

.ecomText {
  text-align: center;
  padding-left: 50%;
  background-image: url('./ecom1.png');
  height: 100%;
}

.ecom2 {
  padding: 50px;
  width: 100%;
  height: 90%;
}

.ecomMainImage {
 width: 100%;
}

.listTitle {
  font-weight: bold;
  padding: 5px;
  font-size: 1.5em;
  text-decoration: underline;
}

.projectTitle {
  font-family: Made;
  font-size: 4em;
  padding-bottom: 10px;
}

.projectTextItem {
  font-size: 1.5em;
}

.github {
  width: 40px;
  height: 40px;
}

.githubLink {
  margin-top: 6em !important;

}

.ecomDescriptionDiv {
  height: 50em;
}

.farmText {
  text-align: center;
  padding-left: 50%;
  background-image: url('./ranch1.png');
  height: 100%;
}

.ranchLarge {
  height: 50em;
  padding-left: 20em;
  padding-top: 5em;
}

.ranchSmall {
  height: 30em;
}

.githubButton {
  font-family: Stretch;
  margin-top: 25% !important;
  display: block;
  width: 126px;
  height: 180px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40% !important;
}

.findMore {
    font-family: Cool;
    font-size: 5em;
    margin-top: 3em;
}











