@font-face {
  font-family: Argesta;
  src: url(argestadisplay-regular-webfont.ttf);
}

@font-face {
  font-family: North;
  src: url(North\ Carossela.otf);
}

@font-face {
  font-family: Sek;
  src: url(Sekogure.ttf);
}

@font-face {
  font-family: Made;
  src: url(MADEOkineSansPERSONALUSE-Medium.otf);
}

@font-face {
  font-family: Stretch;
  src: url(StretchPro.otf);
}

@font-face {
  font-family: Cool;
  src: url(coolvetica\ rg.otf);
}

@font-face {
  font-family: Avi;
  src: url(Avigea.ttf);
}

body {
  background-color: fafcfe !important;
  color: #312c2d !important
}

div {
  font-family: Argesta;
}

.firstName {
  font-family: Avi;
  font-size: 10em;
  color: #1c71ea !important;
}

.lastName {
  font-family: Avi;
  font-size: 10em;
  padding-left: 18%;
  color: #1c71ea !important;
}

.title {
  font-family: Cool;
  font-size: 2em;
  position: absolute;
  top: 700px;
  left: 800px;
  /* transform: rotate(-90deg); */
  color: #312c2d
  
}

.divider {
  border: 20px solid #312c2d;
  padding: 5px;
  padding-top: 25px;
}

.pageTitle {
  font-size: 5em;
  padding-left: 70%;
  margin-bottom: 10px;
}

.portfolioImage {
  height: 30em;
  /* width: 20em; */
}

.spacer {
  padding: 1em;
}

.blogText {
  color: black;
  height: 10em;
}

.blogTitle {
  font-family: Made;
  color: black;
  font-weight: 900;
}

.blogImage {
  /* height: 15em; */
}

.pageContainer {
  padding: 40px;
}

.navTitles {
  color: antiquewhite;
}

.carouselImage {
  padding: 10px 600px 600px 600px;
}

.carousel {
  /* margin: 500px, 100px, 500px, 100px; */
}

/* .navBar {
  position: absolute !important;
  align-items: flex-end !important;
  
} */

.navMenu {
  font-size: 1.5em;
  padding-right: 10px;
  padding-top: 10px;
}

.navButton {
  color: red !important;
}

.me {
  height: 30%;
  width: 50%;
  border-radius: 10% 30% 50% 70%;
}








